.categories {
  display: grid;
  grid-template-columns: 1fr 5fr;
  .categoriesContainer {
    height: 100vh;
    overflow-y: auto;
  }
}
.typeContainer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  button {
    padding: 10px 30px;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    &:active {
      transform: scale(0.98);
    }
  }

  .Canceled {
    color: crimson;
    background-color: rgba(220, 20, 60, 0.267);
  }
  .Approved {
    color: green;
    background-color: rgba(0, 128, 0, 0.247);
  }
  .Pending {
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
  }
  .Delivered {
    color: blue;
    background-color: rgba(0, 0, 255, 0.253);
  }
  .inCart {
    color: gray;
    background-color: rgba(128, 128, 128, 0.226);
  }
}
