.categories {
  display: grid;
  grid-template-columns: 1fr 5fr;
  .categoriesContainer {
    height: 100vh;
    overflow-y: auto;
  }

  .deleteContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.541);
    backdrop-filter: blur(5px);
    z-index: 11;
    .content {
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 15px 30px 30px 30px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        color: crimson;
        margin: 10px;
        font-size: 40px;
      }
      h2 {
        margin: 0;
      }
      h5 {
        color: #777;
        margin: 0;
      }
      .btn {
        margin-top: 20px;
        button {
          margin-left: 10px;
          padding: 7px 30px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
        }
        .delete {
          background-color: crimson;
          color: white;
        }
        .cancel {
          background-color: #999;
          color: white;
        }
      }
    }
  }
}
