.BagItem {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #666;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  img {
    width: 100%;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      width: 80%;
      h1 {
        font-size: 15px;
      }
      p {
        width: 70%;
        padding: 10px 0px;
      }
    }

    .row {
      width: 100%;
      h5 {
        color: #333;
      }
      .line-through {
        color: #666;
        text-decoration: line-through;
      }
    }

    .quantityCount {
      margin-top: 20px;
      span {
        border: 1px solid #999;
        padding: 5px 10px;
        user-select: none;
      }
    }
    .icon {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }
}

.ContactUsForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0px;
  form {
    display: flex;
    flex-direction: column;
    margin: 15px 40px;
    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px 0px;
      label {
        color: #333;
        margin-bottom: 5px;
      }
      input {
        padding: 10px;
        outline: none;
        border-radius: 10px;
        border: 1px solid #666;
      }
      textarea {
        padding: 10px;
        outline: none;
        border-radius: 10px;
        border: 1px solid #666;
        resize: none;
        font-size: 15px;
      }
    }
    button {
      margin: 10px 100px;
      padding: 10px;
      color: white;
      background-color: #95a595;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      &:active {
        transform: scale(0.98);
      }
    }
  }
  .iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
