@use "../../variables" as v;
.sideBar {
  border-right: 1px solid rgb(230, 230, 230);
  height: 100vh;
  background-color: #fff;
  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(230, 230, 230);
    .logo {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 3px;
      color: v.$primary-color;
      cursor: pointer;
    }
    .logo-1 {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 3px;
      color: v.$primary-color;
      cursor: pointer;
      display: none;
    }
  }
  .center {
    padding: 10px 20px;
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: v.$sec-color;
        margin: 3px 0px;
        cursor: default;
      }
      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s ease-out;
        border-radius: 10px;
        // width: 100%;
        &:hover {
          border-radius: 20px;
          background-color: v.$li-hover;
        }
      }
      .icon {
        padding: 0px 10px;
        font-size: 18px;
        color: v.$icon-color;
      }
      span {
        font-size: 15px;
        font-weight: 700;
        color: v.$span-color;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 920px) {
  .sideBar {
    .top {
      .logo {
        display: none;
      }
      .logo-1 {
        display: flex;
      }
    }
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      ul {
        span {
          visibility: hidden;
          display: none;
        }
      }
    }
  }

  input {
    background-color: transparent;
  }
}
